.coord {
    bottom: 8px;
    left: 8px;
    position: absolute;
    padding: 1px 5px;
    background-color: rgba(0, 39, 56, 0.6);
    color: rgb(254, 247, 183);
    border-radius: 4px;
}

#map {
    width: 100%;
    height: 100%;
    position: fixed;
}

.custom-zoom, .custom-zoom:hover {
    top: 50%;
    right: 0.5em;
    background-color: rgba(0, 39, 56, 0.6) !important;
}

.custom-zoom button, .custom-zoom button:focus{
    background-color: rgba(227, 227, 227, 1) !important;
    color: rgb(0, 0, 0) !important;
    margin: 3px 3px !important;
    outline: none;
}

.custom-zoom button:hover{
    background-color: rgba(16, 178, 247, 1) !important;
    color: rgb(255, 255, 255) !important;
}
